/* 1.Sidebar CSS Code */
body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body{
    
    background-color: #000;
    color: #fff;
    margin: 0;
    overflow: hidden;
}
.main{
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.sidebar{
  width: 300px;
  background-color: #000;
  border-radius: 1rem;
}
.main-content{
  flex: 1;
  background-color: #121212;
  border-radius: 1rem;
  overflow: auto;
  margin:0.5rem ;
  margin-left: 0px;
}
.music-player{
  background-color: #000;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 72px;
}
.nav{
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
}
.nav-option{
  height: 40px;
  line-height: 2.5rem;
  opacity: 0.7;
}
.nav-option:hover{
  opacity: 1;
  transition-delay: 0ms;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
}
.nav-option a{
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  margin-left: 1rem;
}
.nav-option i{
  height: 1.24rem;
  width: 1.25rem;
  margin-left: 0.6rem;
}
.libray{
  background-color: #121212;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0.5rem 0.75rem;
  height: 100%;
}
.lib{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* height: 3.5rem; */
  align-items: center;
  padding-left: 0.25rem;
}
.lib-option{
  display: flex;
  align-items: center;
}
.lib-option img{
  height: 1.5rem;
}
.lib-option a{
  color: #fff;
  text-decoration: none;
}
.icons{
  display: flex;
  justify-content: flex-end;
  font-size: 1.25rem;
  align-items: center;
}
.icons i{
  margin-right: 1rem;
  opacity: 0.7;
}
.icons i:hover{
  transition-timing-function: ease-in;
  transition-duration: 500ms;
  opacity: 1;
}
.box{
  background-color: #232323;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem 1rem;
  height: 6.25rem;
  width: 14.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-p1{
  font-size: 1rem;
}
.box-p2{
  margin-top: 0.5rem;
  font-size: 0.875rem;
  
}
.badges{
  width: 7.875rem;
  height: 2rem;
  font-size: 0.75rem;
  padding: 0.25rem 1rem;
  font-weight: 700;
  border-radius: 1rem;
  margin-top: 1.2rem;
  box-shadow: none;
}
.box-two{
  background-color: #232323;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 1rem 1rem;
  height: 8.875rem;
  width: 14.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-two .badges{
  width: 8.7rem;
  height: 2rem;
  font-size: 0.75rem;
  padding: 0.25rem 1rem;
  font-weight: 700;
  border-radius: 1rem;
  margin-top: 1.2rem;
  box-shadow: none;
}
/* Finish */
.sticky-nav{
  z-index: 10;
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  position: sticky;
  
  justify-content: space-between;
  align-items: center;
  top: 0rem;
  background-color: #121212;
}
.back{
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-left: 0.5rem;
}
.foward{
  margin-left: 0.5rem;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profile{
  display: flex;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.nav-pt-1{
  display: flex;
  flex-direction: row;
}
.nav-pt-2{
  display: flex;
  flex-direction: row;
}
.nav-pt-2 .badges{
  width: 8.875rem;
  margin-top: 0px;
}
.installapp{
  appearance: none;
  width: 7.875rem;
  height: 2rem;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 1rem;
  background-color: #000000;
  color: #ffffff;
  margin: 0rem 0.5rem;
  padding: 0rem;
}
@media(max-width: 1000px){
  .hide{
    display: none;
  }
}
.heading{
  height: 2.125rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.heading h2{
  margin-left: 1rem;
}
.heading .show{
  font-size: 1rem;
  color: grey;
  margin-right: 1rem;
}
.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-1-1{
  width: 11rem;
  height: 15.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #232323;
  border-radius: 0.3rem;
  margin: 1rem;
}
.card-1{
  border-radius: 0.7rem;
  width: 100%;
}
.card-title{
  font-size: 1rem;
}
.card-paragraph{
  font-size: 0.7rem;
  font-weight: 300;
  margin: 0px;
}
.footer{
  height: 300px;
  width: 100%;
}
.music-player{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section1{
  width: 100%;
}
.section2{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section3{
  width: 100%;
}
.palyerimage{
  margin: 0rem 1rem 0rem 1rem;
  width: 1rem;
  height: 1rem;
}
.player-icons{
  margin: 0.3rem 0rem 0.4rem 0rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.extra{
  height: 2rem;
  width: 2rem;
  margin-bottom: 0.3rem;
}
.range{
  width: 300px;
  height: 0.3rem;
  padding: 0rem 0.2rem 0rem 0.2rem;
}
.range-contanier{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  color:white;
}