body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body{
    
    background-color: #000;
    color: #fff;
    margin: 0;
    overflow: hidden;
}
.main{
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.sidebar{
  width: 300px;
  background-color: #121212;
  border-radius: 1rem;
}
.main-content{
  flex: 1;
  background-color: #121212;
  border-radius: 1rem;
  overflow: auto;
}
.music-player{
  background-color: #000;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 72px;
}